<div class="popup" id="edit-active-task-popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"><i class="_icon-close"></i></a>
            <div class="popup__title">
                <h3>Редактирование активной задачи</h3>
            </div>
            <form method="POST" class="popup__form" id="edit__active__popup__form">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="">
                <div class="popup__content-item popup__form-input">
                    <input type="text" class="input task__name" name="task_name">
                </div>
                <div class="popup__content-item popup__form-btns">
                    <button type="button" class="btn btn-white" onclick="editActiveTask()">
                        <i class="_icon-save"></i>Сохранить
                    </button>
                    <button type="button" class="btn btn-black" onclick="makeActiveTaskPending()">
                        <i class="_icon-trash"></i>Отменить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup" id="less-than-minute-popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"><i class="_icon-close"></i></a>
            <div class="popup__title">
                <h3>Задачи длительностью менее 1 минуты не сохраняются</h3>
            </div>
        </div>
    </div>
</div>

<div class="popup" id="finish-active-task-warning-popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"><i class="_icon-close"></i></a>
            <div class="popup__title">
                <h3>Сначала завершите текущую задачу</h3>
            </div>
        </div>
    </div>
</div>

<div class="popup" id="edit-task-popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"><i class="_icon-close"></i></a>
            <div class="popup__title">
                <h3>Редактирование задачи</h3>
            </div>
            <form method="POST" class="popup__form" id="edit__pending__popup__form">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="">
                <div class="popup__content-item popup__form-input">
                    <input type="text" class="input task__name" name="task_name">
                </div>
                <div class="popup__content-item popup__form-btns">
                    <button type="button" class="btn btn-white" onclick="editPendingTask()">
                        <i class="_icon-save"></i>Сохранить
                    </button>
                    <button type="button" class="btn btn-black" onclick="removePendingTask()">
                        <i class="_icon-trash"></i>Удалить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup" id="add-completed-task-popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"><i class="_icon-close"></i></a>
            <div class="popup__title">
                <h3>Добавление выполненной задачи</h3>
            </div>
            <form method="post" class="popup__form" id="add__completed__task__popup__form">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="">
                <div class="popup__content-item popup__form-input">
                    <input type="text" class="input task__name" name="task_name">
                </div>
                <div class="popup__content-item popup__form-range">
                    <div class="popup__form-range__inputs">
                        <input type="text" class="input task__start" name="task_start">
                        <span>-</span>
                        <input type="text" class="input task__end" name="task_end">
                    </div>
                    <div class="popup__form-range__time"></div>
                </div>
                <div class="popup__content-item popup__form-day">
                    <i class="_icon-calendar-date"></i>
                    <p>{{ month_day }} {{ month }}</p>
                </div>
                <div class="popup__content-item popup__form-btns">
                    <button type="button" class="btn btn-white" onclick="addCompletedTask()">
                        <i class="_icon-save"></i>Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup" id="edit-completed-task-popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"><i class="_icon-close"></i></a>
            <div class="popup__title">
                <h3>Редактирование выполненной задачи</h3>
            </div>
            <form method="post" class="popup__form" id="edit__completed__task__popup__form">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="">
                <div class="popup__content-item popup__form-input">
                    <input type="text" class="input task__name" name="task_name">
                </div>
                <div class="popup__content-item popup__form-range">
                    <div class="popup__form-range__inputs">
                        <input type="text" class="input task__start" name="task_start">
                        <span>-</span>
                        <input type="text" class="input task__end" name="task_end">
                    </div>
                    <div class="popup__form-range__time"></div>
                </div>
                <div class="popup__content-item popup__form-day">
                    <i class="_icon-calendar-date"></i>
                    <p>{{ month_day }} {{ month }}</p>
                </div>
                <div class="popup__content-item popup__form-btns">
                    <button type="button" class="btn btn-white" onclick="editCompletedTask()">
                        <i class="_icon-save"></i>Сохранить
                    </button>
                    <button type="button" class="btn btn-black" onclick="removeCompletedTask()">
                        <i class="_icon-trash"></i>Удалить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup" id="profile-edit-popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"><i class="_icon-close"></i></a>
            <div class="popup__title">
                <h3>Редактирование профиля</h3>
            </div>
            <form method="post" class="popup__form" id="edit__credentials__popup__form">
                {% csrf_token %}
                {% for field in form %}
                <div class="popup__content-item popup__form-input">
                    <input type="{{ field.field.widget.input_type }}"
                           name="{{ field.name }}"
                           class="input auth__input {% if field.errors %}error{% endif %}"
                           placeholder="{{ field.field.widget.attrs.placeholder }}">
                </div>
                {% if field.errors %}
                <ul class="profile__edit__errors">
                    {% for error in field.errors %}
                    <div id="{{ field.name }}__error">
                        {{ error }}
                    </div>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
                <div class="popup__content-item popup__form-btns">
                    <button type="button" class="btn btn-white" onclick="editCredentials()">
                        <i class="_icon-save"></i>Сохранить
                    </button>
                    <a href="{% url 'users:logout' %}" class="btn btn-black">
                        <i class="_icon-log-out"></i>Выйти
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup" id="end-of-tasks-warning-popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"><i class="_icon-close"></i></a>
            <div class="popup__title">
                <h3>Нет задач за меньшую дату</h3>
            </div>
        </div>
    </div>
</div>