{% extends 'base.html' %}

{% block content %}
<main class="main">
    <div class="container">
        <div class="auth">
            <form method="post" class="auth__form">
                {% csrf_token %}
                <div class="form-group">
                    {% if form.username.errors %}
                    <input type="text" name="username" class="input auth__input error" placeholder="Введите логин">
                    {{ form.username.errors }}
                    {% else %}
                    <input type="text" name="username" class="input auth__input" placeholder="Введите логин">
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.password.errors %}
                    <input type="password" name="password" class="input auth__input error" placeholder="Введите пароль">
                    {{ form.password.errors }}
                    {% else %}
                    <input type="password" name="password" class="input auth__input" placeholder="Введите пароль">
                    {% endif %}
                </div>
                <button class="btn btn-white" type="submit">Войти</button>
                <a class="btn btn-white" href="{% url 'users:register' %}">Регистрация</a>
            </form>
        </div>
    </div>
</main>
<footer></footer>
{% endblock content %}