{% extends 'base.html' %}

{% block content %}
<main class="main">
    <div class="container">
        <div class="auth">
            <form method="post" class="auth__form">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username }}
                    <p class="auth__error">{{ form.username.errors }}</p>
                </div>
                <div class="form-group">
                    {{ form.password1 }}
                    <p class="auth__error">{{ form.password.errors }}</p>
                </div>
                <div class="form-group">
                    {{ form.password2 }}
                    <p class="auth__error">{{ form.password.errors }}</p>
                </div>
                <button type="submit" class="btn btn-white" id="registerButton">Зарегистрироваться</button>
                <a class="btn btn-white" href="{% url 'users:login' %}">Авторизация</a>
            </form>
        </div>
    </div>
</main>
<footer></footer>
{% endblock content %}

