{% extends 'base.html' %}

{% block content %}
<main class="main">
    <div class="container">
        <div class="auth">
            <form method="post" class="auth__form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                    <input type="{{ field.field.widget.input_type }}"
                           name="{{ field.name }}"
                           class="input auth__input error"
                           placeholder="{{ field.field.widget.attrs.placeholder }}">
                    {{ field.errors }}
                    {% else %}
                    <input type="{{ field.field.widget.input_type }}"
                           name="{{ field.name }}"
                           class="input auth__input"
                           placeholder="{{ field.field.widget.attrs.placeholder }}">
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-white" id="registerButton">Зарегистрироваться</button>
                <a class="btn btn-white" href="{% url 'users:login' %}">Авторизация</a>
            </form>
        </div>
    </div>
</main>
<footer></footer>
{% endblock content %}

