{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>time tracker</title>
    <!-- favicon -->
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <!-- custom css -->
    <link href="{% static 'main_app/css/style.css' %}" rel="stylesheet"/>
</head>
<body>

<header></header>

{% block content %}{% endblock content %}

{% block footer %}{% endblock footer %}

{% block popups %}{% endblock popups %}

<!-- sortable only -->
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<!-- utils js-->
<script src="{% static 'main_app/js/utils.js' %}"></script>
<!-- main js-->
<script src="{% static 'main_app/js/main.js' %}"></script>
</body>
</html>